# Extensões
*.aux
*.bbl
*.bcf
*.blg
*.fdb_latexmk
*.fls
*.log
*.nav
*.out
*.run.xml
*.snm
*.synctex.gz
*.toc

# Diretórios
2026-1/
PROVAS/
Documentos/
apresentação_files/
quarto/
gptheme/

# Arquivos
questões_av1.txt
hermano-cin-slides-conceitos-basicos.pdf