# Extensões
*.aux
*.bcf
*.fdb_latexmk
*.fls
*.log
*.nav
*.out
*.run.xml
*.snm
*.synctex.gz
*.toc

# Diretórios
2025-2/Trabalhos/
PROVAS/
apresentação_files/
quarto/

# Arquivos
listapresenca_SINF_CSHNB035_2025.2_01.pdf
mapa_SINF_CSHNB035_2025.2_01_.pdf
questões_av1.txt
Plano_Ensino_Gerencia_Configuracao_assinado.pdf
hermano-cin-slides-conceitos-basicos.pdf