# Extensões
*.aux
*.bbl
*.bcf
*.blg
*.fdb_latexmk
*.fls
*.log
*.nav
*.out
*.run.xml
*.snm
*.synctex.gz
*.toc

# Diretórios
2026-1/
AULAS/Apresentação/
Documentos/
gptheme/
Plano de Ensino/*
PROVAS/

# Arquivos
hermano-cin-slides-conceitos-basicos.pdf

# Exceções
!Plano de Ensino/plano_ensino.pdf